.searchName{
    padding-left: 20px;
    padding-right: 20px;
    width: 20%;
    max-width: 20%;
    display: table-cell;
}
.product_header{

    padding-left: 20px;

}
.mid_container{
    margin: 0 auto;
    display: table;
}
.search_container{
    padding-top: 100px;
    padding-bottom: 100px;
    display: table;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    background-color: #F7CAC9;
    background-image: url("https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

/* CSS */
.button-13 {
    display: table-cell;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 30%;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}