
parent-product-container{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center
}

child-product-container{
  background: white;
  width: 48%;
  height: 90%;
  display: inline-block;
  margin: 5% auto
}

sidebar-container{
  background: white;
  width: 20%;
  height: 90%;
  display: inline-block;
  margin: 5% auto
}